In [1]:
import pandas as pd
import tqdm 
from tqdm import tqdm 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"D:\Загрузки\vacancies.csv")

In [3]:
df

,name,tags,link,experience,lower_salary,upper_salary,currency
0,Ведущий менеджер по продажам,"['Активные продажи', 'Ведение переговоров', 'Т...",https://adsrv.hh.ru/click?b=533104&c=7&place=3...,Требуемый опыт работы: не требуется,150000.0,150000.0,₽
1,Data Scientist (команда Поиска),"['Python', 'PyTorch', 'SQL', 'Machine Learning...",https://saratov.hh.ru/vacancy/83116089?from=va...,Требуемый опыт работы: 3–6 лет,350000.0,350000.0,₽
2,Data Scientist в b2c направление,"['Python', 'Machine Learning', 'SQL', 'PyTorch...",https://saratov.hh.ru/vacancy/84009554?from=va...,Требуемый опыт работы: 3–6 лет,NaN,NaN,NaN
3,Портфельный риск-аналитик / Middle Data Scient...,[],https://saratov.hh.ru/vacancy/82421077?from=va...,Требуемый опыт работы: 3–6 лет,NaN,NaN,NaN
4,Трафик-менеджер,"['Анализ трафика', 'Аналитика', 'Маркетинг', '...",https://saratov.hh.ru/vacancy/84386152?from=va...,Требуемый опыт работы: 3–6 лет,110000.0,140000.0,₽
...,...,...,...,...,...,...,...
795,BI Developer (Tableau),"['Tableau', 'BI', 'SQL']",https://saratov.hh.ru/vacancy/85714273?from=va...,Требуемый опыт работы: 3–6 лет,NaN,NaN,NaN
796,Performance-маркетолог,[],https://saratov.hh.ru/vacancy/85557982?from=va...,Требуемый опыт работы: 1–3 года,NaN,NaN,NaN
797,Ведущий специалист RPA,"['Управление проектами', 'Базы данных', 'Data ...",https://saratov.hh.ru/vacancy/82854946?from=va...,Требуемый опыт работы: 1–3 года,NaN,NaN,NaN
798,IT Специалист/ Engineer (RPA),"['Управление проектами', 'Базы данных', 'Data ...",https://saratov.hh.ru/vacancy/82855036?from=va...,Требуемый опыт работы: 1–3 года,NaN,NaN,NaN
799,Архитектор направления CVM,"['Разработка нового продукта', 'Разработка про...",https://saratov.hh.ru/vacancy/85057503?from=va...,Требуемый опыт работы: более 6 лет,NaN,NaN,NaN

In [4]:
df_hh = df.fillna(0)

In [5]:
df_hh['tags'].value_counts()[:5]

tags
[]                                             249
['Английский\xa0— B2 — Средне-продвинутый']     11
['Английский\xa0— C1 — Продвинутый']             4
['SQL', 'Python']                                3
['Английский\xa0— B1 — Средний']                 2
Name: count, dtype: int64

In [6]:
df_hh_r = df_hh.replace('[]','-')

In [7]:
df_hh_r['tags'].value_counts()[:5]

tags
-                                              249
['Английский\xa0— B2 — Средне-продвинутый']     11
['Английский\xa0— C1 — Продвинутый']             4
['SQL', 'Python']                                3
['Английский\xa0— B1 — Средний']                 2
Name: count, dtype: int64

In [8]:
# df_hh_r_no = df_hh_r[df_hh_r['tags']!='-']

In [9]:
# df_hh_r_no_currency = df_hh_r_no[df_hh_r_no['currency']!=0]

In [10]:
# df_hh_r_no_currency_index= df_hh_r_no_currency.reset_index()

In [11]:
df_hh_r['lower_salary'].value_counts()[:5]

lower_salary
0.0         613
200000.0     15
150000.0     14
100000.0     14
250000.0     12
350000.0      7
1.0           7
120000.0      6
300000.0      6
180000.0      5
2500.0        5
60000.0       5
80000.0       5
5.0           4
Name: count, dtype: int64

In [12]:
df_hh_r['name'].value_counts()[:5]

name
Data Engineer     23
Data Scientist    18
Data Analyst      11
Data engineer     11
Data scientist     6
Name: count, dtype: int64

In [13]:
l=['TeamLead / Тимлид / Руководитель группы разработки (офис)',
'Data Scientist (команда Поиска)',
'ETL инженер данных / Data Engineer (офис, в Москве)',
'Дата инженер \ Data Engineer AI (удаленно)',
'Data scientist / Аналитик риск-моделей',
'Senior Sales Manager (Data, BI)',
'Lead data scientist',
'Data Scientist',
'IT Sales Manager/USA and EU Market (remote work)',
'Руководитель проектов',
'Data Architect',
'Инженер / Data Scientist',
'BI Developer & Data Analyst',
'Data scientist',
'Data Scientist/ML Architect (junior)',
'Data Engineer (senior)',
'Data Loss Prevention (DLP) Specialist - remote',
'Data Lead analyst',
'Lead Data Analyst',
'Аналитик данных/ data analyst',
'Lead AI Data Scientist',
'Data Engineer',
'Аналитик данных / Системный аналитик / Data Analyst (e-commerce)',
'Разработчик нейросетевых алгоритмов / Data Scientist',
'Аналитик данных / Big Data',
'Data Scientist/BackEnd-разработчик',
'Data Engineer (Greenplum)',
'BI Developer / Data Analyst',
'Трафик-менеджер',
'CRM Manager / Data analyst',
'Data-аналитик, Удалённо',
'Data Engineer',
 'Data Scientist',
  'Data Analyst',
  'Data engineer',
'Data scientist']

In [14]:
df_test  = pd.DataFrame(df_tes,columns = df_hh_r.columns)

In [25]:
df_tes=[]

In [27]:
df_hh_r

,name,tags,link,experience,lower_salary,upper_salary,currency
0,Ведущий менеджер по продажам,"['Активные продажи', 'Ведение переговоров', 'Т...",https://adsrv.hh.ru/click?b=533104&c=7&place=3...,Требуемый опыт работы: не требуется,150000.0,150000.0,₽
1,Data Scientist (команда Поиска),"['Python', 'PyTorch', 'SQL', 'Machine Learning...",https://saratov.hh.ru/vacancy/83116089?from=va...,Требуемый опыт работы: 3–6 лет,350000.0,350000.0,₽
2,Data Scientist в b2c направление,"['Python', 'Machine Learning', 'SQL', 'PyTorch...",https://saratov.hh.ru/vacancy/84009554?from=va...,Требуемый опыт работы: 3–6 лет,0.0,0.0,0
3,Портфельный риск-аналитик / Middle Data Scient...,-,https://saratov.hh.ru/vacancy/82421077?from=va...,Требуемый опыт работы: 3–6 лет,0.0,0.0,0
4,Трафик-менеджер,"['Анализ трафика', 'Аналитика', 'Маркетинг', '...",https://saratov.hh.ru/vacancy/84386152?from=va...,Требуемый опыт работы: 3–6 лет,110000.0,140000.0,₽
...,...,...,...,...,...,...,...
795,BI Developer (Tableau),"['Tableau', 'BI', 'SQL']",https://saratov.hh.ru/vacancy/85714273?from=va...,Требуемый опыт работы: 3–6 лет,0.0,0.0,0
796,Performance-маркетолог,-,https://saratov.hh.ru/vacancy/85557982?from=va...,Требуемый опыт работы: 1–3 года,0.0,0.0,0
797,Ведущий специалист RPA,"['Управление проектами', 'Базы данных', 'Data ...",https://saratov.hh.ru/vacancy/82854946?from=va...,Требуемый опыт работы: 1–3 года,0.0,0.0,0
798,IT Специалист/ Engineer (RPA),"['Управление проектами', 'Базы данных', 'Data ...",https://saratov.hh.ru/vacancy/82855036?from=va...,Требуемый опыт работы: 1–3 года,0.0,0.0,0
799,Архитектор направления CVM,"['Разработка нового продукта', 'Разработка про...",https://saratov.hh.ru/vacancy/85057503?from=va...,Требуемый опыт работы: более 6 лет,0.0,0.0,0

In [28]:
df_tes

[]

In [29]:
for i, row in tqdm(df_hh_r.iterrows()):
    if row['name'] in l:
        df_tes.append(row)

800it [00:00, 11162.08it/s]

In [30]:
df_test  = pd.DataFrame(df_tes,columns = df_hh_r.columns)

In [31]:
df_test['experience'].value_counts()

experience
Требуемый опыт работы: 3–6 лет         45
Требуемый опыт работы: 1–3 года        45
Требуемый опыт работы: не требуется     4
Требуемый опыт работы: более 6 лет      3
Name: count, dtype: int64

In [32]:
def test_salary(row):
    if row['lower_salary'] == row['upper_salary']:
        return int(row['upper_salary'])
    else:
        return 0

In [33]:
def test_more_salary(row):
    if row['upper_salary']>row['lower_salary']:
        return int(row['upper_salary']-row['lower_salary'])
    else:
        return int(0)

In [34]:
df_test['3_6_years'] = df_test['experience'].apply(lambda x: '3-6' if x=='Требуемый опыт работы: 3–6 лет' else '')
df_test['1_3_years'] = df_test['experience'].apply(lambda x: '1-3' if x=='Требуемый опыт работы: 1–3 года' else '')
df_test['not_required'] = df_test['experience'].apply(lambda x: '0' if x=='Требуемый опыт работы: не требуется' else '')
df_test['more_6_years'] = df_test['experience'].apply(lambda x: 'more 6' if x=='Требуемый опыт работы: более 6 лет' else '')
df_test['lower_salary_35'] = df_test['lower_salary'].apply(lambda x: 'more 350' if x==350000.0  else '')
df_test['test_salary'] = df_test.apply(test_salary,axis=1)
df_test['test_more_salary'] = df_test.apply(test_more_salary,axis=1)

In [35]:
df_t = pd.DataFrame(columns= df_test.columns)

In [36]:
df_test3 = df_test[(df_test['currency']!=0)&(df_test['tags']!='-')][:1]

In [37]:
test2 = ["['Python', 'PyTorch', 'SQL', 'Machine Learning', 'Анализ данных', 'data science', 'numpy', 'scipy', 'pandas', 'lightgbm', 'pytorch', 'scikit-learn', 'neural nets', 'nlp', 'search ranking', 'recommender systems', 'a/b-experiments', 'hadoop', 'hive', 'presto', 'Mathematics']"]

In [38]:
df_test3['link'] = df_test3['link'].replace('//','&')

In [39]:
df_test3

,name,tags,link,experience,lower_salary,upper_salary,currency,3_6_years,1_3_years,not_required,more_6_years,lower_salary_35,test_salary,test_more_salary
1,Data Scientist (команда Поиска),"['Python', 'PyTorch', 'SQL', 'Machine Learning...",https://saratov.hh.ru/vacancy/83116089?from=va...,Требуемый опыт работы: 3–6 лет,350000.0,350000.0,₽,3-6,,,,more 350,350000,0

In [40]:
if 'Python' in test2:
    print('Я_здесь')
else:
    print('I don"t now')

I don"t now

In [41]:
Прогнать на изначальных данных, чтобы посмотреть на результат,построить графики

SyntaxError: invalid syntax (1906271647.py, line 1)